* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    height: 300px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


}
label {
    display: inline-block;
}
.submit{
    display:block;
}
.play {
    margin: 0 50%;
}

.board {
    margin: 30px auto;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.board-button{
    font-size: 20px;
}
