* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.header {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav { 
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal{
    height: 300px;
    width: 300px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}
.modal form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
label {
    display: inline;
}
.submit{
    display:block;
}


.play {
    padding: 20px 20px;
    background-color: green;
    box-shadow: 10px 10px 5px grey;
    border: none;
    border-radius: 5px;
    font-size: 22px;
    font-weight: bold;
    color:white;
}
.play:hover {
    box-shadow: 10px 10px 5px red;
}

.statusBar {
    background-color: lightgrey;
    margin-top: 20px;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
}

.board {
    margin: 30px auto;
    height: 400px;
    width: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

[id^=cell]{
    background-color: white;
    border: none;
    font-size: 40px;
}
#cell-0, #cell-1, #cell-2, #cell-3, #cell-4, #cell-5{
    border-bottom:2px solid black ;
}

#cell-0, #cell-1, #cell-3, #cell-4, #cell-6, #cell-7{
    border-right:2px solid black;
}

.playerInput {
    padding: 5px;
}